header{
    height: 3rem;
    background-color: rgb(44, 62, 80);
}

/*MAIN*/
    /*JUMBOTRON*/
.custom-jumbotron{
    height: 20rem;
    background-color: rgb(26, 188, 156);
}

    /*PORTFOLIO*/
/* .custom-portfolio{
    background-color: rgb(230, 43, 11);
} */
.custom-col{
    height: 15rem;
    border: 1rem solid white;
    border-radius: 1.5rem;
}
.custom-col-1{
    background-color: rgb(186, 75, 99);
}
.custom-col-2{
    background-color: rgb(30, 164, 182);
}
.custom-col-3{
    background-color: black;
}
.custom-col-4{
    background-color: rgb(28, 131, 193);
}
.custom-col-5{
    background-color: rgb(14, 56, 181);
}
.custom-col-6{
    background-color: rgb(204, 178, 163);
}
