header{
    height: 3rem;
    background-color: rgb(44, 62, 80);
}

/*MAIN*/
    /*JUMBOTRON*/
.custom-jumbotron{
    height: 20rem;
    background-color: rgb(26, 188, 156);
    margin-bottom: 2rem;
}
.custom-col-header{
    border: 2px solid white;
    color: white;
}
    /*PORTFOLIO*/
/* .custom-portfolio{
    background-color: rgb(230, 43, 11);
} */
.custom-col{
    height: 15rem;
    border: 1rem solid white;
    border-radius: 1.5rem;
}
.custom-col-1{
    background-color: rgb(186, 75, 99);
}
.custom-col-2{
    background-color: rgb(30, 164, 182);
}
.custom-col-3{
    background-color: black;
}
.custom-col-4{
    background-color: rgb(28, 131, 193);
}
.custom-col-5{
    background-color: rgb(14, 56, 181);
}
.custom-col-6{
    background-color: rgb(204, 178, 163);
}

    /* ABOUT */
main .custom-about .text-center h1{
    margin-bottom: 2rem;
}
.custom-about{
    background-color: rgb(26, 188, 156);
    margin-bottom: 2rem;
}
.custom-about button{
    margin-bottom: 1.3rem;
    width: 12rem;
    border: 1px solid white;
    background-color: rgb(26, 188, 156);
    height: 3rem;
    border-radius: 1rem;

} 
.custom-about button i,
.custom-about button p{
    color: white;
}
.custom-container{
    padding: 0rem 3rem;
}
.custom-about .custom-container .custom-col-about{
    color: white;
    padding-bottom: 1.3rem;
    font-weight: 600;
}
    /* CUSTOM TRY */
.custom-try{
    border: 2px red solid;
    background-color: rgb(0, 174, 243);
}