/* CONTAINERS */
.custom-container{
    padding: 0rem 3rem;
}
.custom-container-jumbo{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}


/* HEADER */
header{
    background-color: rgb(44, 62, 80);
}
.custom-col-header{
    color: white;
}
.navbar h1{
    font-weight: 600;
    font-size: 1.6rem;
}
.navbar p{
    font-weight: 600;
}
.navbar button{
    border: 1px solid rgb(138, 147, 157);
    color: rgb(138, 147, 157);
    background-color: transparent;
    border-radius: .3rem;
    width: 2rem;
}

/*MAIN*/
    /*JUMBOTRON*/
.custom-jumbotron{
    height: 100%;
    background-color: rgb(26, 188, 156);
    margin-bottom: 2rem;
}
.jumbo-avatar{
    width: 40%;
}
.custom-container-jumbo img{
    max-width: 15rem;
}
.custom-container-jumbo h1{
    font-weight: 600;
    margin-bottom: 2rem;
}
.custom-container-jumbo h2{
    margin-bottom: 2rem;
}
.custom-container-jumbo h3{
    font-size: 1rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}
.custom-starline::before,
.custom-starline::after{
    content: '';
    display: inline-block;
    height: 3px;
    width: 15%;
    max-width: 105px;
    border-radius: 10px;
    vertical-align: middle;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

    /*PORTFOLIO*/
.custom-col{
    border: 1rem solid white;
}
.custom-col-1{
    border-radius: 1rem;
}
.custom-col-2{
    border-radius: 1rem;
}
.custom-col-3{
    border-radius: 1rem;
}
.custom-col-4{
    border-radius: 1rem;
}
.custom-col-5{
    border-radius: 1rem;
}
.custom-col-6{
    border-radius: 1rem;
    margin-bottom: 3rem;
}
.text-black .custom-starline::before,
.text-black .custom-starline::after{
    background-color: black;
}


    /* ABOUT */
main .custom-about .text-center h1{
    margin-bottom: 1rem;
}
.custom-about{
    background-color: rgb(26, 188, 156);
    margin-bottom: 3rem;
    padding-top: 2rem;
}
.custom-about button{
    font-size: 1.3rem;
    width: 12rem;
    border: 1px solid white;
    background-color: rgb(26, 188, 156);
    height: 3rem;
    border-radius: 1rem;

} 
.custom-about button i,
.custom-about button{
    color: white;
    margin-bottom: 1rem;
}

.custom-about .custom-container .custom-col-about{
    color: white;
    margin-bottom: 2.5rem;
    font-weight: 600;
}
.custom-download{
    margin-right: .25rem;
}
    /*CONTACT ME*/
.custom-list{
    font-weight: 400;
    font-size: 1rem;
}
.contact-me .text-center h1{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.custom-list p:last-of-type{
    margin-bottom: 8rem;
}
.contact-me .custom-list button{
    height: 2rem;
    width: 3rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    background-color: rgb(26, 188, 156);
    color: white;
    margin-bottom: 2rem;
}
    /* BOTTOM INFOS */
.bottom-infos{
    background-color: rgb(58, 84, 109);
    padding: 2rem 3rem;
}
.bottom-infos .custom-container div{
    color: white;
}
.bottom-infos .custom-container div h1{
    font-size: 1.2rem;
    font-weight: 600;
}
.bottom-infos .custom-container div p{
    font-size: 0.9rem;
}
/* FOOTER */
footer{
    height: 4rem;
    background-color: rgb(44, 62, 80);
}
footer div{
    padding-top: 1.5rem;
}
footer div p{
    font-size: 0.7rem;
    color: white;
}





    /* CUSTOM TRY */
.custom-try{
    border: 2px red solid;
    background-color: rgb(0, 174, 243);
}





/* MEDIA QUERIES */

    /* MOBILE */
@media screen and (max-width: 576px) {
    .navbar h1 {
        font-size: 1.1rem;
    }
    .custom-container-header{
        padding: 0rem 1.5rem;
    }
    .bottom-infos .custom-container{
        padding: 0 0;
    }
    .custom-container-jumbo h3{
        font-size: .7rem;
        margin-bottom: 1.5rem;
    }
}